
body {
   background-color: beige;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.cuadrado {
   width: 300px;
   height: 300px;
   background-color: gray;
   margin-bottom: 30px;
}

.cuadrado:hover {
   cursor: pointer;
   box-shadow: 5px 5px 25px rgba(128, 128, 128, 0.637);
   border-radius: 50%;
   transition: .5s;
}

.cuadrado:not(:hover) {
   transition: .5s;
}

.botones {
   display: flex;
   justify-content: center;
}

.btn {
   width: 100px;
   height: 20px;
   color: white;
   padding: 10px;
   border-radius: 5px;
   margin-left: 10px;
   cursor: pointer;
}

.btn:hover {
   box-shadow: 2px 2px 5px gray;
}

.rojo {
   background-color: red;
}

.verde {
   background-color: green;
}

.azul { 
   background-color: blue;
}